html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#viewer {
  height: 100%;
}

.viewer-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-areas: "options content";
}

.viewer-options {
  grid-area: options;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.viewer-options-section {
  margin: 5px;
}

.viewer-options-section-title {
  display: flex;
  justify-content: space-between;
}

.viewer-options-section-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.viewer-content {
  grid-area: content;
  display: grid;
}

.viewer-content-canvas {
  grid-column: 1;
  grid-row: 1;
  position: absolute;
}

.viewer-content-errors {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  color: var(--vscode-errorForeground);
}

.component-button {
}

.component-input-grid {
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: row;
}

.component-input-row {
  height: 20px;
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: column;
}

.component-input {
  min-width: 0px;
}

.component-input-error {
  color: var(--vscode-errorForeground);
}

.component-input:read-only {
  background-color: gray;
}

button {
  border: none;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  width: 100%;
  text-align: center;
  outline: 1px solid transparent;
  outline-offset: 2px !important;
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
}

button:hover {
  cursor: pointer;
  background: var(--vscode-button-hoverBackground);
}

button:focus {
  outline-color: var(--vscode-focusBorder);
}

button.secondary {
  color: var(--vscode-button-secondaryForeground);
  background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
  background: var(--vscode-button-secondaryHoverBackground);
}

.dropdown-container {
  position: relative;
}

.dropdown-select {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.dropdown-clear {
  width: 30px;
}

.dropdown-main {
  display: flex;
  flex-grow: 1;
  height: 25px;
}

.dropdown-list {
  max-height: 300px;
  overflow: auto;
  position: absolute;
  background: white;
  width: calc(100% - 2px);
  border: 1px solid;
  margin-top: -1px;
  z-index: 1;
}

.dropdown-search {
  width: calc(100% - 4px);
  border: none;
  border-bottom: 1px solid;
}

.dropdown-search:focus {
  outline: none;
}

.dropdown-list:focus {
  outline: none;
}

.dropdown-list-item {
  height: 25px;
  display: flex;
}

.dropdown-list-item-text {
  margin: 4px 4px 4px 8px;
  font-size: 14px;
  user-select: none;
}

.selected {
  color: blue;
}

.highlighted {
  background: lightgray;
}
