:root {
  --input-padding: 5px;
  --input-height: 25px;
  --input-margin-top: 5px;
  --border-line-width: 1px;
}

/* main */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* disable up/down for number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#viewer {
  height: 100%;
}

.viewer-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-areas: "options content";
}

.viewer-options {
  grid-area: options;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.viewer-options-section {
  margin: 5px;
}

.viewer-options-section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewer-options-section-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.viewer-content {
  grid-area: content;
  display: grid;
}

.viewer-content-canvas {
  grid-column: 1;
  grid-row: 1;
  position: absolute;
}

.viewer-content-errors {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  color: var(--vscode-errorForeground);
}

.component-button {
  height: var(--input-height);
  display: flex;
  align-items: center;
}

.component-input-grid {
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: row;
}

.component-input-row {
  height: var(--input-height);
  display: grid;
  grid-gap: var(--input-padding);
  grid-auto-flow: column;
}

.component-input {
  margin-top: var(--input-margin-top);
  min-width: 0px;
}

.component-input-error {
  color: var(--vscode-errorForeground);
}

.component-input-readonly {
  background-color: var(--vscode-list-inactiveFocusBackground);
  color: var(--vscode-input-placeholderForeground);
}

/* button */
button {
  border: none;
  text-align: center;
  border: 1px solid var(--vscode-checkbox-border);
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
}

button:hover {
  cursor: pointer;
  background: var(--vscode-button-hoverBackground);
}

button:focus {
  outline: none;
}

button.secondary {
  color: var(--vscode-button-secondaryForeground);
  background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
  background: var(--vscode-button-secondaryHoverBackground);
}

/* input */
input {
  box-sizing: border-box;
  width: 100%;
  height: var(--input-height);
  border: 1px solid var(--vscode-checkbox-border);
  font-family: var(--vscode-font-family);
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
}

input:focus {
  outline-color: var(--vscode-focusBorder) !important;
}

/* dropdown */
.dropdown-container {
  margin-top: var(--input-margin-top);
  position: relative;
}

.dropdown-select {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  border: var(--border-line-width) solid var(--vscode-checkbox-border);
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
  padding: var(--input-padding);
}

.dropdown-select:hover {
  background-color: var(--vscode-input-background);
}

.dropdown-select-open,
.dropdown-select:focus {
  border: var(--border-line-width) solid var(--vscode-focusBorder) !important;
}

.dropdown-main {
  display: flex;
  flex-grow: 1;
  height: var(--input-height);
}

.dropdown-list {
  width: calc(100% - 2px);
  max-height: 125px;
  position: absolute;
  background-color: var(--vscode-input-background);
  border: var(--border-line-width) solid var(--vscode-focusBorder);
  z-index: 1;
}

.dropdown-list:focus {
  outline: none;
}

.dropdown-list-item {
  height: var(--input-height);
  display: flex;
}

.dropdown-list-item-text {
  padding: var(--input-padding);
  user-select: none;
}

.dropdown-list-item-selected {
  color: var(--vscode-focusBorder);
}

.dropdown-list-item-highlighted {
  background: var(--vscode-focusBorder);
  color: var(--vscode-input-foreground);
}
